* {
  box-sizing: border-box;
}

html{
  background-color: rgb(0, 0, 0);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  overflow: hidden;
  background-color: rgb(15, 15, 15);
  display: flex;
  justify-content: center;
}

article a:visited {
  color: rgb(22, 50, 65);
  text-decoration: none;
}

article a, header a {
  color: rgb(173, 221, 244);
}

nav a {
  flex: 1;
  color: rgb(200, 200, 220, 0.5);
  text-align: center;
  padding: 0.5em 1em;
  text-decoration: none;
}


nav a:hover {
  background-color: rgb(221, 221, 221,0.5);
  color: black;
}


header {
  background-color: rgb(10, 10, 10);
  padding: 1em;
  text-align: center; 
}
img {
  width: 30vw;
  height: auto;
}

main {
  display: flex;
}


aside {
   padding: 0.5em;
   flex: 1;
   background-color: rgb(10, 10, 10);
   color: lightgray;
}


article {
  padding: 2em;
  flex: 7;
  background-color: rgb(0, 0, 0);
  color: lightgray;
}


footer {
  background-color: rgb(20, 18, 20);
  color: lightgray;
  padding: 1em;
  text-align: center;
}


@media (max-width: 600px) {
  main, nav {
    flex-direction: column;
  }
  img {
    width: 75vw;
  }
}