:root{
  --page-bg-color:            hsl(350 , 15%, 5%);
  --article-bg-color:         hsl(350, 15%, 6%);
  --nav-bg-color:             hsl(350, 15%, 8%);
  --hover-nav-color:          hsl(350, 70%, 12%);
  --header-footer-bg-color:   hsl(350, 15%, 4%);
  --header-footer-text-color: hsl(350, 15%, 50%);
  --visited-link-color:       hsl(350, 60%, 30%);
  --nav-links:                hsl(350, 22%, 82%);
  --article-links :           hsl(350, 76%, 82%);
}


* {
  box-sizing: border-box;
}

html{
  background-color: var(--page-bg-color);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background-color: var(--nav-bg-color);
  display: flex;
}

nav a {
  flex: 1;
  color: var(--nav-links);
  text-align: center;
  padding: 0.5em 1em;
  text-decoration: none;
}

nav a:hover {
  background-color: var(--hover-nav-color);
  color: white;
}

main {
  display: flex;
  justify-content: center;
}

article {
  line-height: 1.8em;
  padding: 2em;
  width: 80vw;
  background-color: var(--article-bg-color);
  color: lightgray;
}

article img {
  display: block;
  margin: auto;
}
article a:visited {
  color: var(--visited-link-color);
  text-decoration: none;
}

article a {
  color: var(--article-links);
  font-size: 1.5em;
}

header {
  background-color: var(--header-footer-bg-color);
  padding: 1em;
  text-align: center; 
}

img {
  opacity: 50%;
  width: 30vw;
  height: auto;
}

footer {
  background-color: var(--header-footer-bg-color);
  color: lightgray;
  padding: 1em;
  text-align: center;
}

footer p::after {
  content: " Pseudo-element footer p::after css content";
}

header a::after {
  /* Pain */
}

#posttitle {
  font-size: 4em;
  text-align: center;
}
@media (max-width: 600px) {
  nav {
    flex-direction: column;
  }
  img {
    width: 75vw;
  }
}